<div class="row justify-content-md-center pt-5">
  <div class="col-md">
    <h2 class="font-weight-bold">全ての投稿</h2>
  </div>
</div>

<div class="row pt-5">
  <%# 投稿一覧(投稿一覧画面左側)%>
  <div class="col-md-8">
    <div class="d-flex flex-wrap">
      <%= render 'index', posts: @posts %>
    </div>
  </div>

  <%# 検索フォーム(投稿一覧画面右側)%>
  <div class="col-md-4">
    <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
    <div class="row">
      <div class="col-md-auto">
        <h6 class="font-weight-bold">カテゴリで検索</h6>
        <div class="form-group">
          <%= f.select :category, options_from_collection_for_select(Category.all, :id, :name), include_blank: "指定しない", class:"form-control" %>
        </div>
      </div>
    </div>


    <% end %>
  </div>
</div>

<div class="row justify-content-md-center pt-5">
  <div class="col-md-4 ml-5">
    <%= paginate @posts %>
  </div>
  <div class="col-md-8"></div>
</div>



<%= form_with url: search_posts_path, local: true, method: :get do |f| %>
  <div>
    <%= f.label :category, "カテゴリ" %>
    <%= f.select :category, options_from_collection_for_select(Category.all, :id, :name), include_blank: "指定しない" %>
  </div>
  <div>
    <%= f.label :usability, "使用感" %>
    <%= f.select :usability, [['しっとり',:moist],['さっぱり',:refresh]], include_blank: "指定しない" %>
  </div>
  <div>金額 <%= f.text_field :price%>円以下</div>
  <%= f.submit "検索" %>
<% end %>