<h2>全ての投稿</h2>

<% @posts.each do |post| %>
  <div><%= image_tag post.image, size: "100x100" %></div>
  <div>
    投稿者：
    <%= link_to user_path(post.user.id) do %>
      <%= post.user.name %>
    <% end %>
  </div>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= post.item_name %>
    <% end %>
  </div>

  <div id="star_<%= post.id %>">評価 </div>
  <script>
    var elem = document.getElementById("star_<%= post.id %>")
    var opt = {
      size    : 36,
      starOff : '<%= asset_path('star-off.png') %>',
      starOn  : '<%= asset_path('star-on.png') %>',
      score: <%= post.star %>,
      half: false,
      readOnly: true,
    }
    raty(elem, opt)
  </script>
  <div>♡ <%= post.likes.count %></div>
  <div><%= post.category.name %></div>
<% end %>

<%= paginate @posts %>

<%= form_with url: search_posts_path, local: true, method: :get do |f| %>
  <div>
    <%= f.label :category, "カテゴリ" %>
    <%= f.select :category, options_from_collection_for_select(Category.all, :id, :name), include_blank: "指定しない" %>
  </div>
  <div>
    <%= f.label :usability, "使用感" %>
    <%= f.select :usability, [['しっとり',:moist],['さっぱり',:refresh]], include_blank: "指定しない" %>
  </div>
  <div>金額 <%= f.text_field :price%>円以下</div>
  <%= f.submit "検索" %>
<% end %>