<h2>新規投稿</h2>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :image, "商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div>
    <%= f.label :item_name, "商品名" %>
    <%= f.text_field :item_name %>
  </div>

  <div>
    <%= f.label :brand, "ブランド名" %>
    <%= f.text_field :brand %>
  </div>

  <div>
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.label :usability, "使用感" %>

    <%= f.radio_button :usability, Post.usabilities.key(0), checked: true %>
    <%= f.label :usability, Post.usabilities_i18n[:moist] %>

    <%= f.radio_button :usability, Post.usabilities.key(1) %>
    <%= f.label :usability, Post.usabilities_i18n[:refresh] %>
  </div>

  <div>
    <%= f.label :category_id, "カテゴリ" %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: "選択してください" %>
  </div>

  <div>
    <%= f.label :ingredient1, "成分(上から3つ)" %>
    1. <%= f.text_field :ingredient1 %>
    2. <%= f.text_field :ingredient2 %>
    3. <%= f.text_field :ingredient3 %>
  </div>

  <div>
    <%= f.label :price, "購入時価格(税込)" %>
    <%= f.text_field :price %> 円
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>
