<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md">
      <h2>「素肌を綺麗にしたい」「おすすめの商品を見てほしい」人へ。</h2>
    </div>
  </div>
</div>


<%= flash[:notice] %>

<h2>「素肌を綺麗にしたい」「おすすめの商品を見てほしい」人へ。</h2>

<h4>
  スキンケアの楽しさを共有できるレビューサイト　Beauty Skin　です！</br>
  会員登録後から、ご利用いただけます。
</h4>


<p><%= link_to "Beauty Skin について", about_path %></p>

<h4>新着投稿</h4>

<% @post.each do |post| %>
  <div><%= image_tag post.image, size: "100x100" %></div>
  <div>
    投稿者：
    <% if user_signed_in? %>
      <%= link_to user_path(post.user.id) do %>
        <%= post.user.name %>
      <% end %>
    <% else %>
      <%= post.user.name %>
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to post_path(post.id) do %>
        <%= post.item_name %>
      <% end %>
    <% else %>
      <%= post.item_name %>
    <% end %>
  </div>

  <div id="star_<%= post.id %>">評価 </div>
  <script>
    var elem = document.getElementById("star_<%= post.id %>")
    var opt = {
      size    : 36,
      starOff : '<%= asset_path('star-off.png') %>',
      starOn  : '<%= asset_path('star-on.png') %>',
      score: <%= post.star %>,
      half: false,
      readOnly: true,
    }
    raty(elem, opt)
  </script>
  <div>♡ <%= post.likes.count %></div>
  <div><%= post.category.name %></div>
<% end %>

<% if user_signed_in? %>
<% else %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<% end %>