<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :image, "プロフィール画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div>
    <%= f.label :gender, "性別" %>

    <%= f.radio_button :gender, User.genders.key(0), checked: true %>
    <%= f.label :gender_man, User.genders_i18n[:man] %>

    <%= f.radio_button :gender, User.genders.key(1) %>
    <%= f.label :gender_woman, User.genders_i18n[:woman] %>
  </div>


  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :skin_type "あなたの肌タイプ" %>
    <%= f.select :skin_type, [["普通肌","0"],["脂性肌","1"],["乾燥肌","2"],["混合肌","3"],["わからない","4"]], include_blank: "選択してください" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<div>
  <p>登録済みの方は<%= render "public/shared/links" %>からログイン</p>
</div>
