<h2>カテゴリ一覧</h2>
<% if @category.errors.any? %>
  <%= @category.errors.count %>件のエラーが発生しました
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @category, url: admin_categories_path do |f| %>
  <div>
    <%= f.label :name, "カテゴリ名" %>
    <%= f.text_field :name %>
  </div>
  <div><%= f.submit "追加する" %></div>
<% end %>

<h4>カテゴリ</h4>

<% @categories.each do |category| %>
  <div>
    <%= category.name %>
    <%= link_to "編集", edit_admin_category_path(category.id) %>
  </div>
<% end %>