<h2><%= @user.name %>さんのプロフィール</h2>

<div><%= image_tag @user.get_profile_image(150, 150) %></div>
<div><%= @user.name %></div>
<div>性別：<%= @user.gender_i18n %></div>
<div>肌タイプ：<%= @user.skin_type_i18n %></div>

  <div>
    <% if @user.is_deleted? %>
      <p>退会済みです</p>
    <% else %>
      <%= link_to "利用停止する", admin_path, method: :patch, data: {confirm: "利用停止しますか？"} %>
    <% end %>
  </div>
</div>