<h2><%= @user.name %>さんのプロフィール</h2>

<div><%= image_tag @user.get_profile_image(150, 150) %></div>
<div><%= @user.name %></div>
<div>性別：<%= @user.gender_i18n %></div>
<div>肌タイプ：<%= @user.skin_type_i18n %></div>

<div>
  いいね：<%= @like_posts.count %>
  <%= link_to "いいねした投稿を見る", user_likes_path(@user) %>
</div>

<h4>投稿</h4>
<div>
  投稿数：<%= @user.posts.count %> 件
  <% @posts.each do |post| %>
    <div><%= image_tag post.image, size: "100x100" %></div>
    <div>
    投稿者：
    <%= link_to user_path(post.user_id) do %>
      <%= post.user.name %>
    <% end %>
  </div>
    <div>
      <%= link_to post_path(post.id) do %>
        <%= post.item_name %>
      <% end %>
    </div>
    <div id="star_<%= post.id %>">評価 </div>
    <script>
      var elem = document.getElementById("star_<%= post.id %>")
      var opt = {
        size    : 36,
        starOff : '<%= asset_path('star-off.png') %>',
        starOn  : '<%= asset_path('star-on.png') %>',
        score: <%= post.star %>,
        half: false,
        readOnly: true,
      }
      raty(elem, opt)
    </script>
    <div>
      ♡ <%= post.likes.count %>
    </div>
  <% end %>
  <%= paginate @posts %>

  <div><%= link_to "利用停止する", admin_users_withdraw_path, data: {confirm: "利用停止しますか？"} %></div>
</div>