<h2><%= @user.name %>さんのプロフィール</h2>

<div><%= image_tag @user.get_profile_image(150, 150) %></div>
<div><%= @user.name %></div>
<div>性別：<%= @user.gender_i18n %></div>
<div>肌タイプ：<%= @user.skin_type_i18n %></div>

<% if current_user == @user %>
<div>
  いいね：<%= @like_posts.count %>
  <%= link_to "いいねした投稿", user_likes_path(@user) %>
</div>
<% end %>

<h6>投稿</h6>
<div>
  投稿数：<%= @posts.count %>
  <% @posts.each do |post| %>
    <div><%= image_tag post.image, size: "100x100" %></div>
    <div>
      <%= link_to post_path(post.id) do %>
        <%= post.item_name %>
      <% end %>
    </div>
    <div id="star_<%= post.id %>">評価 </div>
    <script>
      let elem = document.getElementById("star_<%= post.id %>")
      let opt = {
        size    : 36,
        starOff : '<%= asset_path('star-off.png') %>',
        starOn  : '<%= asset_path('star-on.png') %>',
        score: <%= post.star %>,
        half: false,
        readOnly: true,
      }
      raty(elem, opt)
    </script>
    <div>
      ♡ <%= post.likes.count %>
    </div>
  <% end %>
</div>