<div class="row">
  <div class="col-md">
    <h2 class="font-weight-bold"><%= @user.name %>さんのプロフィール</h2>
  </div>
</div>

<div class="row">

  <%# ユーザー詳細(マイページ左側) %>
  <div class="col-md-4">
    <div><%= image_tag @user.get_profile_image(150, 150) %></div>

    <div class="ml-5"><%= @user.name %></div>

    <div class="ml-3">
      <span>性別：</span><%= @user.gender_i18n %>
    </div>

    <div class="ml-3">
      <span>肌タイプ：</span><%= @user.skin_type_i18n %>
    </div>

    <% if current_user == @user %>
      <div>
      いいね：<%= @like_posts.count %>
      <%= link_to "いいねした投稿を見る", user_likes_path(@user), class:"btn btn-outline-primary btn-sm" %>
      </div>
    <% end %>
    <% if @user == current_user %>
      <div>
        <%= link_to "プロフィールを編集", edit_user_path(@user.id), class:"btn btn-outline-success btn-sm" %>
        <%= link_to "退会する", confirm_withdraw_user_path, class:"btn btn-outline-danger btn-sm" %>
      </div>
  <% end %>
  </div>

  <%# ユーザーの投稿一覧(マイページ右側) %>
  <div class="col-md-8">
    <h4>投稿数：<%= @user.posts.count %> 件</h4>
    <div class="d-flex flex-wrap">
      <%= render 'public/posts/index', posts: @posts %>
    </div>
    <div><%= paginate @posts %></div>
</div>

  <% if @user == current_user %>
    <div><%= link_to "プロフィールを編集", edit_user_path(@user.id) %></div>
    <div><%= link_to "退会する", confirm_withdraw_user_path %></div>
  <% end %>

</div>