<!DOCTYPE html>
<html>
  <head>
    <title>BeautySkin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Beauty Skin</a>
          <ul class="nav justify-content-end">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "カテゴリ一覧", admin_categories_path, class: 'nav-link text-dark' %></button>
            </li>
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "新規投稿", new_post_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %></button>
            </li>
          <% else %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %></button>
            </li>
          <% end %>

          </ul>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
